@font-face {
    font-family: SuperDream;
    src: url(../../fonts/SuperDream.ttf);
}

@font-face {
    font-family: Coolvetica;
    src: url(../../fonts/Coolvetica.otf);
}

body {
    background-color: #F4E6FF;
    background-image: url(../../photos/website_elements/footer_background.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;

    font-family: Coolvetica;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login_container {
    background: #FFFFFF;
    width: 380px;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 5px 5px 15px rgba(165,165,165,0.3);
    text-align: center;
}

.logo {
    height: 80px;
    margin-bottom: 10px;
}

h1 {
    font-family: SuperDream;
    color: #682C7A;
}

p {
    color: #682C7A;
    margin-bottom: 20px;
}

.input_group {
    text-align: left;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #9665A5;
}

button {
    width: 100%;
    padding: 12px;
    background: #9665A5;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
